html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e9ebed;
    font-family: Fibon;
}

div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    /*margin: 0;*/
    /*padding: 0;*/
}

#logo-ID {
    /*display: block;*/
    width: 246px;
    height: 100%;
    /*clear: both;*/
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
    margin: 0 5px 0 0;
    float: left;
}

#logo-photo-ID {
    /*width: 100%;*/
    /*height: 100%;*/
}

.logo{
    font-family: Fibon;
    color: #fabc01;
    font-weight: bold;
    font-size: 23px;
    margin-left: 20px;
}

.menu-bar{
    margin-right: 50px;
    float: right;
    font-family: Fibon;
}

.top-menu {
    display: flex;
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    /*padding: 10px;*/
    /*position: relative;*/
    /*list-style: none;*/
	/*display: block;*/
    /*clear: both;*/
	background-color: #0a1926;
    font-size: 100%;
}

.top-menu ul {
    width: 100%;
    height: 23px;
    /*margin: auto;*/
    list-style-type: none;
    /*padding: 5px;*/
    /*position: relative;*/
    /*background-color:#323232;*/
}

.top-menu li {
	/*display: inline;*/
    margin: 0 5px;
    /*border: 5px solid #cce5ff;*/
    padding: 5px;
	font-weight: bold;
    float: right;
}

.top-menu li a {
	text-decoration: none;
	color: white;
    cursor: pointer;
}

.main-part {
    display: flex;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*left: 15%;*/
    /*right: 15%;*/
    /*width: 70%;*/
    /*height: 80%;*/
    margin-top: 10px;
    /*border-radius: 5px;*/
    text-align: center;
    /*background-color: #e0e0e0;*/
}

.sidebar, .bets {
    width: 25%;
    float: left;
}

.border-top-style: {
    background-color: #0a1926;
    color: white;
    height: 100px;  
    margin: 0 10px 1px 0;
}

.sidebar ul.a {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li.c {
    height: auto;
    background-color: #0a1926;
    padding: 5px 0 5px 0;
    margin: 0 0 1px 10px;
    cursor: pointer;
    color: white;
}

.sidebar li.c ul {
    display: none;
}

.sidebar li.c p {
    margin: 0;
}

.sidebar li.c:focus {
    outline: none;
}

.sidebar li.c:focus ul {
    display: block;
}

.sidebar ul.b {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.middle {
    float: left;
}

.matchday {
    width: 90%;
    height: auto;
    background-color: #e0e0e0;
    margin: auto;
    /*margin-top: 5px;*/
    padding: 5px 0 5px 0;
    /*background-color: white;*/
}

.matchday p {
    font-size: 50px;
}

.info {
    display: flex;
    width: auto;
    margin: 0 0 10px 0;
}

.player {
    margin: 0 50px 0 50px;
}

.player p {
    font-size: 45px;
}

.player img {
    width: 150px;
    height: 100px;
    position: relative;
    top: 25px;
}

.matchday button {
    width: 100px;
    padding: 20px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    margin-right: 27px;
    margin-left: 27px;
    background-color: #0a1926;
    color: #fabc01;
}

table {
    width: 1000px;
    height: 500px;
    margin: auto;
    border-spacing: 5px;
    position: relative;
    top: 15%;
}

th, td {
    padding: 15px;
    border: 1px solid black;
    background-color: #e0e0e0;
}

.login {
    width: 500px;
    height: 250px;
    position: absolute;
    left: 35%;
    top: 35%;
    border: 5px solid #3CBC8D;
}

#login-form {
    position: absolute;
    left: 25%;
    top: 20%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    background-color: #3CBC8D;
    color: white;
}

input[type=submit] {
    background-color: #3CBC8D;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
/*
.date, .b, .game{
    pointer-events: none;
}*/

@font-face {
    font-family: Fibon;
    src: url(Fibon.ttf);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #0a1926;
    text-align: center;
}

.footer span {
    font-family: Fibon;
    color: #fabc01;
    font-size: 13px;
}
