html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    /*margin: 0;*/
    /*padding: 0;*/
}

#logo-ID {
    /*display: block;*/
    width: 246px;
    height: 100%;
    /*clear: both;*/
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
    margin: 0 5px 0 0;
    float: left;
}

#logo-photo-ID {
    /*width: 100%;*/
    /*height: 100%;*/
}


.top-menu {
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    /*padding: 10px;*/
    /*position: relative;*/
    /*list-style: none;*/
	/*display: block;*/
    /*clear: both;*/
	background-color: #f2e6dc;
    text-transform: uppercase;
    font-size: 100%;
    border-radius: 8px;
    float: left;
}

.top-menu ul {
    width: 100%;
    height: 28px;
    /*margin: auto;*/
    list-style-type: none;
    /*padding: 5px;*/
    /*position: relative;*/
    /*background-color:#323232;*/
    border-radius: 10px;
}

.top-menu li {
	/*display: inline;*/
    margin: 0 5px;
    /*border: 5px solid #cce5ff;*/
    padding: 5px;
	font-weight: bold;
    border-radius: 10px;
    background-color: #3399ff;
    float: left;
}

.top-menu li a {
	text-decoration: none;
	color: #fabc01;
    cursor: pointer;
}

.main-part {
    display: flex;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*left: 15%;*/
    /*right: 15%;*/
    /*width: 70%;*/
    /*height: 80%;*/
    margin-top: 10px;
    /*border-radius: 5px;*/
    text-align: center;
    /*background-color: #e0e0e0;*/
}

.sidebar {
    width: 25%;
    float: left;
}

.sidebar ul.a {
    width: 90%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li.c {
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.sidebar li.c ul {
    display: none;
}

.sidebar li.c p {
    margin: 0;
}

.sidebar li.c:focus {
    outline: none;
}

.sidebar li.c:focus ul {
    display: block;
}

.sidebar ul.b {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.middle {
    width: 100%;
    float: left;
}

.matchday {
    width: 90%;
    height: auto;
    background-color: #e0e0e0;
    margin: auto;
    /*margin-top: 5px;*/
    padding: 5px 0 5px 0;
    /*background-color: white;*/
    border-radius: 10px;
}

.matchday p {
    font-size: 50px;
}

.info {
    display: flex;
    width: auto;
    margin: 0 0 10px 0;
}

.player {
    margin: 0 50px 0 50px;
}

.player img {
    width: 150px;
    height: 100px;
    position: relative;
    top: 25px;
}

.matchday button {
    padding: 20px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
}

.login {
    width: 500px;
    height: 250px;
    position: absolute;
    left: 35%;
    top: 35%;
    border: 5px solid #3CBC8D;
    border-radius: 10px;
}

#login-form {
    position: absolute;
    left: 25%;
    top: 20%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
}

input[type=submit] {
    background-color: #3CBC8D;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.date, .b, .game{
    pointer-events: none;
}
